@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.site-name {
    font-family: 'Bungee Shade', cursive;
    font-size: 35px !important;
    padding: 0 !important;
    transition: 0.25s ease;
}

.site-name:hover {
    transform: scale(1.05);
}

.site-name:active {
    transform: scale(0.95);
}

.search-btn {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.search-field {
    width: 300px !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}