<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${ad.title}">Объявление</title>
</head>
<body>
    <h1 th:text="${ad.title}"></h1>
    <i th:text="${ad.type}"></i>
    <hr/>
    <div th:each="el: ${ad.elements}">
        [(${el.markup()})]
    </div>
</body>
</html>